a{
  color: #7900FF;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 130%;
}
a:hover{
  color: #1DB9C3;
}
body {
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #161853;
  margin: 0;
}
.contact-me{
  line-height: 3;
}

h1 {
  display: block;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  font-size: 5rem;/*or 5m or 80px*/
  color: #9A0680;
  /*height: 200%;*/
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #9A0680;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #7027A0;

}

.top-container {
  padding-top: 100px;
  background-color: #A6CF98;
  position: relative;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 150px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  width: 7%;
  color: #CDF0EA;
  margin: 100px auto;
  border-width: 15px;}
p{
  line-height: 2;
  }

.bottom-container{

  background-color: #24A19C;
  padding: 60px 0 40px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #2D46B9;
  font-size: 15px;
}
.contact-me{
  width: 30%;
  margin: 40px auto 60px;

}
.top-cloud {
  position: absolute;
  right: 120px;
  top: 100px;
}

.middle-cloud {
  position: absolute;
  right: 100px;
  bottom: 250px;
}
.middle-container{
  margin: 100px auto;
}
.th{
  position: absolute;
  left: 150px;
  top: 230px;
}
.my-pic{
  border-radius: 100%;
}
.profile{

  width: 30%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.skill-row{
  width: 50%;
  margin:  100px auto;
  text-align: left;

}
.skill-img{
  width: 40%;
  float: left;
  margin-right:  30px;

}
.python-img{

  float: right;
  margin-left: 15px;

}
